@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var friendships = ViewBag.Friendships as List<DAL.Models.Friendship>;
    var userId = ViewBag.UserId;
}

<h2>Результати пошуку</h2>

<form method="get" action="@Url.Action("Search", "Friendship")">
    <input type="text" name="name" placeholder="Пошук друга за ім'ям" />
    <button type="submit">Пошук</button>
</form>

@if (Model.Count > 0)
{
    <h3>Користувач знайдений:</h3>
    <ul>
        @foreach (var user in Model)
        {
            var friendship = friendships?.FirstOrDefault(f =>
            (f.User1Id == userId && f.User2Id == user.Id)||
            (f.User1Id == user.Id && f.User2Id == userId));

            <li>
                @user.UserName
                @if (friendship != null && friendship.Request == 0)
                {
                    <span>(Друг)</span>
                }
                else if (friendship != null && friendship.Request == 1)
                {
                    <span>(Запит надіслано)</span>
                }
                else if (friendship != null && friendship.Request == -1)
                {
                    <span>(Запит відхилено)</span>
                }
                else
                {
                    <form method="post" action="@Url.Action("Follow", "Friendship")" style="display:inline;">
                        <input type="hidden" name="friendId" value="@user.Id" />
                        <button type="submit">Надіслати запит</button>
                    </form>
                }
            </li>
        }
    </ul>
}
else
{
    <p>@ViewBag.Message</p>
    
}
